				#copyright{
					font-family: '' !important;
				}
						#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a{
					font-family: '' !important;
				}
						#contact_submit_btn, #your_name, #email, #phone, #message{
					font-family: '' !important;
				}
		